.fruits img {
    width: 100%;
}

.fruits {
    border: 1px solid hwb(0 97% 3%);
    background-color: hwb(0 100% 0%);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.update-button:hover {
    border-radius: 20px;
}